<%- include("partials/header") %>

<div class="container">
    <div id="error" class="row">
        <div class="col-12">
            <h1>Error!</h1>
            <h4><i class="far fa-frown"></i><br>We were unable to find this movie in our database. <br>Please check if the spelling is correct and try again.</h4>
        </div>
    </div>
</div>


<%- include("partials/footer") %>